body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 1000px;
  min-width: 800px;
}

.pinyinTag {
  margin-right: 10px;
}

footer {
  text-align: center;
  color: gray;
}
/**
  Utilities
*/
.content-hidden {
  display: none;
}
